
.auth-page{
    background-color: #f0f2f5;}

.auth-img{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-title{
    color: #1da1f2;
}

.auth-form{
    color: #00457c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form-content{
    width: 85%;
    text-align: center;
}

.form-input{
    background-color: #f0f2f5;
    border-color: #1da1f2;
}

