
*{
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: #0079c1;
}

.cfm-btn{
  min-width: 100px;
  background-color: #00457c;
  color: #ffffff;
  border: solid 1px #00457c;
}
.cfm-btn:hover{
  background-color: #ffffff;
  color: #00457c;
  border: solid 1px #00457c;
}
